.body1 {
    background-image: url("./Assets/Images/background1.jpg");
    margin-bottom: 25px;
}

.navname {
    background-color: green;
    padding: 10px;
}

.mycontainer1 {
    margin-top: 3rem;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    width: 85%;
}

.heading {
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.heading1 {
    margin-top: 2rem;
    text-align: left;
}

.image-resize {
    height: 350px;
    width: 350px;
}

.imgportfolio {
    margin: 10px;
}

.imgportfolio:hover {
    transform: scale(1.1);
    transition: .5s;
}

.containerabout {
    background-color: white;
    height: 10rem;
    height: auto;
    width: 75%;
    border: 1px solid white;
    margin-top: 10px;
}

.meimg {
    float: left;
    width: 200px;
    margin-right: 10px;
}

img {
    max-width: 100%;
}

.meimg:hover {
    transform: scale(1.1);
    transition: .5s;
}

.footer1 {
    text-align: center;
    margin-top: 10px;
    background-color: #212529;
}

footer img {
    width: 60px;
    padding-right: 10px;
}

footer img:hover {
    transform: skew(-10deg);
}

footer h5 {
    color: white;
}